:root {
  --favcolor: #3498db; /* Example color */
  --font-family: Arial, sans-serif; /* Example font family */
}

body {
  background-image: url(../images/interlockgo_logo_gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
  font-family: var(--font-family);
}

h1 {
  text-align: center;
  text-decoration: underline;
  background-color: lightgray;
  color: var(--favcolor);
  font-size: 48pt;
  font-weight: bold;
  padding: 20px;
  margin: 0;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 24pt;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--favcolor);
}

p {
  font-size: 18pt;
  line-height: 1.5;
  color: #444;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.video {
  flex: 1 1 300px; /* Each section takes equal width and adapts */
  margin: 10px;
}

.video > div {
  width: 100%;
}

.owner {
  display: block;
  margin-bottom: 40px;
  margin-right: 20px;
}

a {
  color: var(--favcolor);
  text-decoration: none;
  border-bottom: 2px solid var(--favcolor);
  padding-bottom: 0.2rem;
  transition: all 0.2s;
}

a:hover {
  border-bottom-color: white;
  color: white;
}

button {
  background-color: var(--favcolor);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18pt;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: white;
  color: var(--favcolor);
}

input[type="text"], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--favcolor);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18pt;
}

hr {
  border: 0;
  height: 1px;
  background: var(--favcolor);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1b345d; /* Dark blue background for the footer */
  color: white;              /* White text color */
  text-align: center;        /* Center the text in the footer */
  padding: 5px;             /* Space inside the footer */
  margin-top: 10px;         /* Space above the footer */           
}

.footer a:hover {
  background-color: green;   /* Change background to green when you hover over links */
  color: white;          /* Change text color to dark blue when you hover over links */
}

@media (max-width: 768px) {
  h1 {
    font-size: 36pt;
  }
  h2 {
    font-size: 20pt;
  }
  p {
    font-size: 16pt;
  }
  button {
    font-size: 16pt;
    padding: 8px 16px;
  }
  input[type="text"], select {
    font-size: 16pt;
  }
}
