:root {
  --favcolor: rgb(28, 53, 94);
  --bggradient: linear-gradient(to bottom, #1C355E, #fff, #00ff00);
  --font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 40px;
  background-image: linear-gradient(to bottom, #1C355E, #fff, #00ff00);
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: #3d3d3d;
  color: #fff;
  padding: 10px;
}

.logo-container img {
  max-height: auto; /* Adjust the max-height value to your desired size */
  width: auto;
  margin-left:20px;
  margin-bottom: 20px;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  background-color: #fff;
  color: #3d3d3d;
}

main {
  margin: 0 20px;
}

/* General styling for the section */
.image-gallery {
  margin: 10px 0; /* Provides some space above and below the section */
  padding: 5px; /* Adds padding around the content */
  background-color: #f4f4f4; /* Light grey background for the section */
  border: 1px solid #ccc; /* Grey border for the section */
}

/* Styling for the container that holds images */
.image-container {
  display: flex; /* Enables flexbox layout */
  justify-content: space-around; /* Distributes space around items */
  align-items: center; /* Vertically centers the images */
  gap: 10px; /* Provides space between the images */
}

/* Styling for each image within the container */
.image-container img {
  flex: 1; /* Each image will grow to fill the space */
  max-width: 30%; /* Maximum width for each image */
  height: auto; /* Auto-adjust height to maintain aspect ratio */
  margin: 0 5px; /* Horizontal margin between images */
}




section {
  margin: 10px 0;
}

h1, h2, h3 {
  font-weight: normal;
}